aiohttp==3.4.4
appdirs==1.4.3
async-timeout==3.0.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
dropbox==9.2.0
idna==2.7
multidict==4.5.2
pyee==5.0.0
pyppeteer==0.0.25
requests==2.20.1
six==1.11.0
tqdm==4.28.1
urllib3==1.24.1
websockets==7.0
yarl==1.2.6
